
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
@import url(https://fonts.googleapis.com/css?family=Jaldi);
 
body {
    font-family: 'Jaldi', sans-serif !important;
}
.datepicker-dropdown {
    top: 0;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
}
.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px; 
    height: 30px;
    border-radius: 4px; 
    border: none;
    color: #000; 
    cursor: pointer !important; 
}
datepicker table tr td.day:hover,
    .datepicker table tr td.focused {
    background: red;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999;
}
.datepicker table tr td.today {
    color: white !important;
    background-color: #FFA953; 
    border-color: #FFB76F;  
}
.datepicker table tr td.today:hover {
    color: #FFFFFF;
    background-color: #FF8273;
    border-color: #f59e00;
    cursor: pointer !important; 
}
.datepicker .datepicker-switch {
    width: 145px;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: #f8f8f8;
} 
.ui-datepicker {
    width: 15.20em !important;
    font-family: 'Jaldi', sans-serif !important;
    border: 1px solid #ccc !important;
}
.ui-datepicker-header {
    border-radius: 0px !important;
    background-color: #ededed !important;
    background: #ededed !important;
    border: none !important;
}
.ui-datepicker-next {
    color: #000 !important;
    top:3px !important;
    right: 3px !important;
}
.ui-datepicker-prev {
    color: #000 !important;
    top:3px !important;
    left: 3px !important;
}
.ui-datepicker-next:hover {
    border: none !important;
    top:3px !important;
    right: 3px !important;
    background: white !important;
    cursor: pointer;
}
.ui-datepicker-prev:hover {
    border: none !important;
    top:3px !important;
    left: 3px !important;
    background: white !important;
    cursor: pointer;
}
.ui-state-default {
    background: none !important;
    background-color: #ededed;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: none !important;
    background-color: #eaeaea !important;
    border: 1px solid #A51E1E !important;
    border-radius: 10% !important;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: #a1a1a1 !important;
    color: whitesmoke !important;
    font-weight: bold !important;
    border: 1px solid #d3d3d3 !important;
}
#date-picker-expirate .ui-datepicker-calendar {
    display: none;
}
.ui-widget select {
    font-family: 'Jaldi', sans-serif !important;
    font-size: 14px !important;
}
.ui-priority-primary, .ui-widget-content {
    font-weight: normal !important;
}
.ui-datepicker-close {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    font-size: 14px !important;
}
.hide-calendar .ui-datepicker-calendar {
    display: none;
}
#startDate {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 6px;
}
.ui-datepicker-current {
    display: none !important;
}
.ui-datepicker-buttonpane {
    float: left !important; 
    padding: 0 !important;
}